

a > p:hover {
    color:rgb(9, 7, 12) !important;
   
}
.myDropDown {
    position: relative;
    display: inline-block;
    padding: 25px 50px 20px 50px;
}

/*style for children*/

  ul li {
list-style-type: none;
  }

   ul .dropdown-menu ul {
      position: relative;
      margin-left: 125px;
      top: 0px;
      text-decoration: none;
     
  }

  ul .mydropdown-menu li {
    position: relative;
    margin-left: 125px;
    top: 0px;
    text-decoration: none;
  }
/* items in submenu */
  ul .myDropDown {
      display: none;
      position: absolute;
      color: black !important;
      width:200px;
      text-decoration: none;
      line-height: 5px;
      top:-70px;
      left:40px;
  }



 

/* items in dropdown menu */
.dropdown-submenu li:hover ul .myDropDown {
    display: block;
    text-decoration: none;
   
}


  ul .mydropdown-menu{
    line-height: 150px;
  }

  .myitem{
     
     background-clip: content-box; 

   
  }
 